* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #EEF5FF;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.card {
  display: grid;
  box-shadow: 0px 4px 10px rgba(160, 160, 160, 0.25);
  border-radius: 20px;
  justify-content: center;
  max-width: 800px;
  grid-template-columns: 1fr 1fr;
}

.reactangle1 {
  background: linear-gradient(180deg, #6542FD 0%, #322CE9 100%);
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 4px 10px rgba(160, 160, 160, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 50px;
  justify-content: space-between;

}

.para {
  color: #B6A6FF;
  font-family: 'DM Sans';
  font-size: 24px;
}

.number {
  border-radius: 50%;
  background-color: rgb(0, 55, 255);
  width: 9rem;
  padding: 2rem;
  height: 9rem;
  margin-bottom: 0;
  background: linear-gradient(180deg, #4A24CC 0%, #322CE9 100%);
}

.number h2 {
  color: white;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  display: flex;

}

.number span {
  color: white;
  display: flex;
  justify-content: center;
}

.grate h2 {
  color: white;
  font-family: 'DM Sans';
  font-size: 25px;
  line-height: 46px;
  margin: 20px;
}

.grate p {
  color: #B6A6FF;
  font-size: 15px;
  text-align: center;
  font-family: 'DM Sans';
}

.reactangle2 {
  background-color: white;
  border-radius: 0 10px 10px 0;
  align-items: center;
  padding: 50px;
  box-shadow: 0px 4px 10px rgba(160, 160, 160, 0.25);
}

.main-div {
  padding: 50px 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reaction {
  display: flex;
  font-size: 20px;
  background: #FFF7F5;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.reaction h2 {
  color: #FF5E69;
  font-size: 15px;
  font-family: 'DM Sans';
}

.memory {
  display: flex;
  background: #FDFDF1;
  border-radius: 5px;
  color: #E6D287;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.memory h2 {
  font-size: 15px;
  font-family: 'DM Sans';
}

.memory p {
  margin-top: 7px;
  margin-right: 5px;
}

.virbal {
  display: flex;
  background: #F2FBFA;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding:1px 1px 0 8px;
}

.virbal h2 {
  color: #3DD1B6;
  font-size: 15px;
  font-style: normal;
  font-family: 'DM Sans';
}

.virbal p {
  margin-top: 7px;
  width: 66px;
  top: 620px;
}

.visual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: #F3F3FF;
  border-radius: 5px;
  padding:1px 1px 0 8px;
  font-family: 'DM Sans';


}

.visual h2 {
  color: #403E7F;
  font-family: 'DM Sans';
  font-size: 15px;
  font-style: normal;
}

.visual p {
  margin-top: 7px;
  width: 66px;
  top: 620px;
}

.btn {
  background-color: #303C58;
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'DM Sans';
  font-size: 17px;
  padding: 8px 50px;
}

img {
  object-fit: contain;
  width: 14px;

}

.reactionimg {
  display: flex;
  gap: 10px;
  align-items: center;
}

.img2 {
  display: flex;
  gap: 10px;
  align-items: center;

}

.img3 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.img4 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.span {
  color: #303C58;
  font-size: 13px;
  line-height: 30px;
  font-family: 'DM Sans';
}

.span1 {
  font-size: 13px;
  color: #858484;
}

@media (max-width:1024px) {
  .card {
    display: flex;
    flex-direction: column;
  }

}